/* basic inner label style */
label.inner-label {
	/* basic label configuration (required) */
	position: absolute;
	cursor: text;
	z-index: 9000; /* (IE issues) */
	/* end basic label configuration */

	font-weight: normal;
	left: 5px;
	color: lightgray;
}

::-webkit-input-placeholder {
	/* style placeholders here */
}

:-moz-placeholder {
	/* style placeholders here */
}